<h1><%= @user.name %>'s Album</h1>

<div class="col-md-10 thumbnail_container">
<% @photos.each do |photo| %>
	<div class="relative_thumbnail">
	  <span class="relative_caption"><%= photo.caption %></span>
	  <%= link_to cl_image_tag(photo.photo_url, :width => 150, :height => 150, :crop => :pad), photo.photo_url, :class => "swipebox", :title => photo.caption %>
	</div>
<% end %>
</div>