<h1>Listing photos</h1>
<% @photos.each do |photo| %>
  <%= link_to cl_image_tag(photo.photo_url, :width => 100, :height => 100, :crop => :pad), photo.photo_url, :class => "swipebox" %>
<% end %>

<br />
<%= link_to 'New Photo', new_photo_path %>
