/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require dropzone/basic
 *= require swipebox.min
 */

body{
  padding:0 0 40px 0;
}

#shared_album_id{
	display: none;
}

.btn-mrgn{
	margin: 10px 10px 10px 0;
}

.relative_thumbnail{
	position: relative;
	float: left;
	margin: 0 10px;
}

.relative_edit{
	position: absolute;
	bottom:-20px;
}
.relative_delete{
	position: absolute;
	bottom: -20px;
	right: 10px;
}

.clear{
	clear: both;
	display: block;
}